
body {
    text-align: center;
    margin: 100px;
    background-color: #1C1C1C;
}


#main-box {
    padding-top: 15px;
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1F2937;
    display: flexbox;
    border-radius: 10px;
    box-shadow: "0 0 10px 10px #6B7280"


}

.box {
    border: 1px solid red;
}

/* theme buttons */

.btn-theme-box {
    margin: 15px auto 40px;
    text-align: right;
    height: 40px;

}

.btn-theme {
    background-color: #1F2937;
    color: #D5D4D8;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-right: 25px;
    cursor: pointer;
}

#btnLight-el {
    background-color: #ECFDF5;
}

/* heding content  */

h1 {
    width: 354px;
    height: 80px;
    color: white;
    font-weight: extra-bold;
    /* letter-spacing: 2.5; */
    text-align: left;
    font-family: "Karla", serif;
    line-height: 40px;
    margin-left: 52px;
    /* margin-top: 115px; */
    font-size: 40px;
    margin-bottom: 0;

}
span {
    color: #4ADF86;
}

.p1 {
    color: #D5D4D8;
    margin-left: 52px;
    margin-top: 10px;
    text-align: left;
    width: 372px;
    height: 28px;
    line-height: 28px;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: regular;

}

/* button  */

.btn-box {
    width: 446px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin: 50px auto 40px;
    /* text-align: left; */


}

.btn {
    background-color: #10B981;
    color: white;
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    /* margin-left: 52px; */


}

/* underline */

.underline {
    width: 446px;
    color: #2F3E53;
    border-bottom: 1px solid #2F3E53;
    margin-left: 52px;
    

}

/* password box */

.password-box{
    width: 448px;
    height: 39px;
    margin: 35px auto 0px;
    display: flex;
    justify-content: space-between;

    

}

.pass-box-p {
    width: 211px;
    height: 39px;

    background-color: #273549;
    border-radius: 6px;
    text-align: center;

}

.pass-box {
    width: 180px;
    line-height: 32px;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    text-align: center;
    color: #55F991;
    margin-top: 3px;
    margin-left: 15px;
    margin: 2px auto 2px;
}

footer {
    color: #D5D4D8;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}